server:
  port: 9092

spring:
  application:
    name: RatingService
  datasource:
    url: jdbc:mysql://localhost:3306/rating
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true